<button class="btn btn-info" ng-click="$ctrl.editing = ($ctrl.editing === false ? true : false)">{{ $ctrl.editing ? 'Cancel' : 'Edit' }}</button>
<form ng-show="$ctrl.editing" ng-submit="$ctrl.onSubmit()" name="$ctrl.form" novalidate>
	<formly-form model="$ctrl.model" fields="$ctrl.fields" options="$ctrl.options" form="$ctrl.form">
		<button type="submit" class="btn btn-primary submit-button" ng-disabled="$ctrl.form.$invalid">Submit</button>
		<button type="button" class="btn btn-default" ng-click="$ctrl.options.resetModel()">Reset</button>
	</formly-form>
</form>
