<add-resource></add-resource>
<div class="container">
	<div class="row" ng-if="!$ctrl.items.length">
		<div class="col-xs-12">No resources have been added yet!</div>
	</div>
	<div class="row">
		<div class="col-md-4">Name</div>
		<div class="col-md-5">Description</div>
		<div class="col-md-1">Type</div>
		<div class="col-md-1">Edit</div>
		<div class="col-md-1">Delete</div>
	</div>
	<resource class="row" ng-repeat="item in $ctrl.items|orderBy:['type','name'] track by item.id" item="item"></resource>
</div>
