dir-pagination-controls {
	display: block;
	text-align: center;
}
.row {
	vertical-align: top;
	border-top: 1px solid #eceeef;
	> div {
		display: table-cell;
		padding: 1rem .75rem;
		&:nth-child(4) {
			> div:first-child {
				text-align: right;
			}
		}
	}
}
.row-header {
	font-weight: bold;
	vertical-align: bottom;
    border-top: 1px solid #eceeef;	
	border-bottom: 2px solid #eceeef;
	> div {
		&:nth-child(4) {
			text-align: center;
		}
	}
}
.caret.reverse {
	content: "";
	border-top: 0;
	border-bottom: 4px dashed;
	border-bottom: 4px solid\9;
}

@media (max-width: 400px) {
	.row-header {
		font-size: 1.1rem;
	}
}

@media (max-width: 800px) {
	.row {
		> div:nth-child(4) {
			> div {
				width: 100%;
				&:first-child {
					text-align: left;
				}
				&:not(:first-child) {
					margin-top: 5px;
					clear: left;
				}
			}
		}
	}
}
