@import "../common";

navbar {
	display: block;
	background-color: $primaryColor;
	a {
		color: #fff;
		&:hover {
			color: $lightPrimaryColor;
		}
	}
	add-button {
		display: flex;
		align-items: center;
		height: 100%;
		min-height: 50px;
	}
	.active {
		a {
			background-color: $lightPrimaryColor;
		}
	}
	// overriding bootstrap's very specific styles
	.nav {
		> li {
			> a {
				&:hover,
				&:focus {
					color: $primaryColor;
					background-color: $lighterPrimaryColor;
				}
			}
		}
	}
	.navbar-header {
		.navbar-toggle {
			border-color: #fff;
			background-color: #fff;
			&:focus,
			&:hover {
				background-color: $lightestPrimaryColor;
				border-color: $lightestPrimaryColor;
			}
			.icon-bar {
				background-color: $primaryColor;
			}
		}
	}
}
