@import "../common";

navbar {
	display: block;
	background-color: $primaryColor;
	a {
		color: #fff;
		&:hover {
			color: lighten($primaryColor, 30%);
		}
	}
	add-button {
		display: flex;
		align-items: center;
		height: 100%;
		min-height: 50px;
	}
	.active {
		a {
			background-color: lighten($primaryColor, 30%);
		}
	}
	// overriding bootstrap's very specific styles
	.nav {
		> li {
			> a {
				&:hover,
				&:focus {
					color: $primaryColor;
					background-color: lighten($primaryColor, 40%);
				}
			}
		}
	}
}
