@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import "common/common";

// force actual 100% height
html {
	height: 100%;
}
body {
	height: auto;
	min-height: 100%;
}

// basic, shared styling
body {
	font-family: "Roboto", sans-serif;
	color: #222;
	background-color: #fff;
}

// app container
.app {
	header {
		> h1 {
			padding: 10px;
			text-transform: capitalize;
		}
		nav {
			border-radius: 0;
			padding-bottom: 20px;
		}
	}
	main {
		padding: 10px;
		a {
			font-weight: bold;
		}
	}
}

