<div  ng-class="{ 'col-md-4': !$ctrl.recent, 'col-md-5': $ctrl.recent }">
	<a ng-if="$ctrl.item.type === 'website'" href="$ctrl.item.ref">{{ $ctrl.item.name }}</a>
	<span ng-if="$ctrl.item.type !== 'website'">{{ $ctrl.item.name }}</span>
	<span ng-if="$ctrl.item.author || $ctrl.item.creator"><i>by</i> {{ $ctrl.item.author || $ctrl.item.creator }}</span>
</div>
<div ng-class="{ 'col-md-5': !$ctrl.recent, 'col-md-6': $ctrl.recent }">{{ $ctrl.item.desc }}</div>
<div class="col-md-1">{{ $ctrl.item.type }}</div>
<edit-button class="col-md-1" item="$ctrl.item" ng-if="!$ctrl.recent"></edit-button>
<remove-form class="col-md-1" item="$ctrl.item" ng-if="!$ctrl.recent"></remove-form>
