<div  ng-class="{ 'col-xs-4 col-sm-5': $ctrl.recent, 'col-xs-3 col-sm-4': !$ctrl.recent }">
	<a ng-if="$ctrl.hasLink" ng-href="{{ $ctrl.item.ref }}">{{ $ctrl.item.name }}</a>
	<span ng-if="!$ctrl.hasLink">{{ $ctrl.item.name }}</span>
	<span ng-if="$ctrl.item.author || $ctrl.item.creator"><i>by</i> {{ $ctrl.item.author || $ctrl.item.creator }}</span>
</div>
<div ng-class="{ 'col-xs-6 col-sm-6': $ctrl.recent, 'col-xs-4 col-sm-5': !$ctrl.recent }">{{ $ctrl.item.desc }}</div>
<div class="col-xs-2 col-sm-1">{{ $ctrl.item.type }}</div>
<div class="col-xs-3 col-sm-2" ng-if="!$ctrl.recent">
	<div class="col-xs-6">
		<edit-button item="$ctrl.item"></edit-button>
	</div>
	<div class="col-xs-6">
		<remove-button item="$ctrl.item"></remove-button>
	</div>
</div>